<!DOCTYPE html>
<html ng-app="assanjobs">

<head>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<link href="assanjobs.css" type="text/css" rel="stylesheet"></link>
</head>	
	<body ng-controller="GridController as grid">
		<h4> Click on green tiles</h4>
		<div class="gridHolder">
		<ul class="grid" >
			<li ng-repeat='list in grid.items' class="tile" ng-class="{blink:list.selected}" >
				<div ng-click="grid.isSelected(list)" ng-class="list.class" class="clickdiv">
					.
					</div>
			</li>
			
		</ul>
		<div class="score" ng-show="myValue">
		{{grid.end}}
		<a href='javascript:window.location.reload()' class="restart">Restart</a>
		</div>

		</div>
		
			
		

	</body>

</html>
