<div style="display:inline" class="navfooter" >

	 <ul >
	 	 <li  ng-class="{active:panel.isSelected(1)}">
	 	 	<a href ng-click="panel.setTab(1)"  >
	 	 		Choose Location
	 	 	<a>
	 	 </li>
	 	 <li ng-class="{active:panel.isSelected(2)}" >
	 	 	<a href ng-click="panel.setTab(2);panel.setPlace('BTM Layout')"  >
	 	 	Choose dishes
	 	 </li>
	 	 <li ng-class="{active:panel.isSelected(3)}">
	 	 	<a href ng-click="panel.setTab(3)" >
	 	 	Place Order
	 	 </li>
	 	 <li  ng-class="{active:panel.isSelected(4)}">
	 	 	<a href ng-click="panel.setTab(4)" >
	 	 	Order History
	 	 </li>
	 </ul>
</div>