h4{
	  margin-left: 47px;
}
.grid {
    width: 220px;
    float:left;
}
.tile{
	
	background-color: #E8E8E8 ;
    border: 1px solid;
    display: inline-block;
    height: 50px;
    width: 50px;
    opacity: 1;
    cursor:pointer;
}

.blink{
	background-color: #E8E8E8 ;
	width: 50px;
	height: 50px;
	-webkit-animation-name:example;
	-webkit-animation-duration: 2s;
	animation-name:example ;
	animation-duartion: 2s;
}

@keyframes example {
    from {background-color: #00CC7D;}
    to {background-color: #E8E8E8 ;}
}

.clickdiv{
	height: 50px;
	width:50px;
	color:#E8E8E8;

}
.green{
	width: 50px;
	height: 50px;
	background-color: #00CC7D;
	color: #00CC7D;
}

.red{
	width: 50px;
	height: 50px;
	background-color: red;
	color: red;
}
.score{

  margin: 40px;
  width: 240px;
  float: left;
  border: 10px solid;
  padding: 10px 20px;
  border-radius: 5px;
}